.container{
   width: 100%;
   background-color: #1D1D1D;
}
.container .wrapper{
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 140px;
}