@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,500&display=swap');
@import "./variables.scss";
@import url("../components/Navbar/style.scss");
@import url("../components/Home/Search/Search.scss");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif !important;
  font-family: "Montserrat", sans-serif !important ;
  background: #f5f5f7;
}

.NewTitle{
  padding: 10px 0;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: #202020;
}
.swiper-horizontal .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
height: 0px !important;
} 

